    body {
    	background-color: rgb(220, 240, 220);
        padding: 10px;
    }
    
    textarea, #copyBtn, p, #dropdown {
    	font-weight: 400;
        letter-spacing: 1.4px;
        font-family: "Tahoma";
        padding: 5px;
        font-size: 14px;
        color: rgb(60, 100, 80);
    }

    #dropdown {
        border: 2px solid rgb(190, 220, 190);
        border-radius: 3px;
    }
    
    textarea {
    	width: 250px;
        height: 50px;
        border: 2px solid rgb(190, 220, 190);
        border-radius: 3px;
        margin-top: 10px;
        resize: none;
    }
    textarea::placeholder {
    	color: rgb(130, 170, 130);
    }
    
    p {
    	margin-left: 2px;
        white-space: pre-wrap;
        word-break: break-word;

        font-family: system-ui, -apple-system, BlinkMacSystemFont,
            "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji",
            "Noto Color Emoji", sans-serif;
        resize: none;
        width: 250px;
        max-height: 100px;

        overflow-y: auto;
        overflow-x: auto;
    }

    
    #copyBtn {
    	color: white;
        background-color: rgb(130, 170, 130);
        border: none;
        border-radius: 3px;
        font-size: 12px;
        padding-left: 7px;
        margin-left: 1px;
    }
